[data-testid="stSidebar"][aria-expanded="true"] > div:first-child {
    width: 350px
}

[data-testid="stSidebar"][aria-expanded="false"] > div:first-child {
    width: 350px;
    margin-left: -350px
}
